{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
	<div class="col-sm-3 col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				Mes amis
			</div>
			<ul class="list-group">
				{% for friend in friends %}
				<li class="list-group-item">
					<a href="#TODO" title="Voir les détails de {{ friend.user.username }}">{{ friend.user.username }}</a><a href="{% url 'dashboard:remove' friend_pk=friend.pk %}" title="Supprimer {{ friend.user.username }} de mes amis"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="float: right;"></span></a>
				</li>
				{% endfor %}
			</ul>

			<div class="panel-body">
				<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">
					Ajouter un ami
				</button>
			</div>

		</div>
	</div>

	<div class="col-sm-9 col-md-10">
		<div class="row">
			<div class="col-sm-3 col-md-2">
				<button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">
					<h4>Nouveau message</h4>
				</button>
			</div>
			<div class="col-sm-3 col-md-2">
				<button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">
					Demandes en attente <span class="badge">{{ friend_requests|length }}</span>
				</button>
			</div>
		</div>

		<div class="row" id="id_messages_list_row">
			<div class="col-sm-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Pseudo</th>
							<th>Date</th>
							<th>Etat</th>
						</tr>
					</thead>

					<tbody>
						{% for message in messages_paginator %}
						
							{%if message.is_read == True %}
							<tr class ="error">
							{%else%}
							<tr class ="success" onclick="showMessage({{ message.id }})">
							{%endif%}
							<td>{{message.author}}</td>
							<td>{{message.created_on}}</td>
							{%if message.is_read == True %}
							<td>Lu</td>
							{%else%}
							<td>Non Lu</td>
							{%endif%}
						</tr>
						{% endfor %}

					</tbody>
				</table>


				
				{% for contact in messages_paginator %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br />
{% endfor %}

<div class="pagination">
    <span class="step-links">
    	<nav class="pull-right">
					<ul class="pagination">
												<li>
							<a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
						</li>
{% for num in messages_paginator.paginator.page_range %}
  <li>
  {% ifequal num messages_paginator.number %}

    <span class="current"><b>{{ num }}</b></span>

  {% else %}

    <a href="?page={{ num }}"> {{ num }}</a>

  {% endifequal %} 
      </li>
{% endfor %}
		<li>
							<a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
						</li>
        					</ul>
				</nav>
    </span>
</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="id_add_friend_modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Ajouter un ami</h4>
				</div>
				<form method='post' action ="./">
					{% csrf_token %}
					<div class="modal-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="2">Pseudo</th>
								</tr>
							</thead>
							{% for friend in add_friend_form.members.field.choices %}
							<tr>
								<td class="success">{{ friend.1 }}</td>
								<td>
								<input type="checkbox" name="{{ add_friend_form.members.html_name }}" id="id_{{ add_friend_form.members.html_name }}_{{ forloop.counter }}" value="{{ friend.0 }}">
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" name="add_friend_request">
							Envoyer une demande d'ajout
						</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="id_waiting_friends_modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Demandes d'ajout en attente</h4>
				</div>
				<form method='POST' action=".">
					<div class="modal-body">
						{% csrf_token %}
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="2">Pseudo</th>
								</tr>
							</thead>

							<tbody>
								{% for friend in friend_request_form.members.field.choices %}
								<tr>
									<td class="success">{{ friend.1 }}</td>
									<td>
									<input type="checkbox" name="{{ add_friend_form.members.html_name }}"
									id="id_{{ add_friend_form.members.html_name }}_{{ forloop.counter }}"
									value="{{ friend.0 }}">
									</td>
								</tr>
								{% endfor %}

							</tbody>

						</table>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-danger" name="is_denied_request"value="Refuser la/les demandes"/>
						<input type="submit" class="btn btn-success" name="is_accepted_request" value="Accepter la/les demandes"/>
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  </div><!-- /.modal -->
      <div class="modal fade in" id="message_show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <div class="modal_contenu"></div>
                    <img class="modal_image" />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script>	

    function showMessage(id_message)
    {
        var self = $(this);
        
        $.ajax('/dashboard/message/' + id_message + '/', {
            dataType: 'json',
            success: function(json_message){
                $('#message_show .modal_title').html(json_message.author);
                $('#message_show .modal_contenu').html(json_message.content);
                $('#message_show .modal_image').attr('src', json_message.picture);
                $('#message_show').modal('show')
            },
            error:function(msg){
            	alert( "Error !: " + msg );
            	}
        });
    }  

    </script>

{%  endblock dashboard_inner %}


